<div class='container'>
  <div class='row card-row'>
    <div class='col-md-2 col-xs-0 col-lg-3'>
    </div>
    <div class='col-md-8 col-xs-12 col-lg-6 card'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class='field'>
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'input' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          </p>
        <% end %>

        <div class='field'>
          <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <%= f.password_field :password, autocomplete: 'off', class: 'input' %>
        </div>

        <div class='field'>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'input' %>
        </div>

        <div class='field'>
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <%= f.password_field :current_password, class: 'input' %>
        </div>

        <div class='field'>
          <%= link_to t('devise.shared.links.back'), :back, class: 'flat-button pull-left' %>
          <%= f.submit t('.update'), class: 'button login-signup-buttons pull-right' %>
        </div>
      <% end %>
    </div>
    <div class='col-md-2 col-xs-0 col-lg-3'>
    </div>
  </div>
  <div class='row card-row'>
    <div class='col-md-2 col-xs-0 col-lg-3'>
    </div>
    <div class='col-md-8 col-xs-12 col-lg-6 card'>

      <h2><%= t('.cancel_my_account') %></h2>

      <p><%= t('.unhappy') %> <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'flat-button' %></p>
    </div>
    <div class='col-md-2 col-xs-0 col-lg-3'>
    </div>
  </div>
</div>
