<div class='container'>
  <% Article.where(author_id: id).reverse.each do |article| %>
    <div class='row card-row'>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
      <div class='col-md-8 col-xs-12 col-lg-12 card'>
        <p>
          <% article.content.split(/\n/).each do |x| %>
            <%= x %><br/>
          <% end %>
        </p>
        <% if edit %>
          <%= link_to t('edit'), articles_edit_path(article: { id: article.id }), class: 'pull-right flat-button' %>
        <% end %>
        <br/>
        <%= form_tag comments_create_path(format: :json), remote: true, onsubmit: 'bindAJAX(event)' do %>
          <%= hidden_field_tag 'comment[article_id]', article.id %>
          <%= text_field_tag 'comment[content]', t('add_comment'), class: 'input comment', onfocus: 'clearCommentField(event)', onblur: 'resetCommentField(event)' %>
          <br/><br/>
        <% end %>
          <%= button_tag t('comment'), class: 'pull-right button', onclick: 'commentValidate(event)' %>
        <% Comment.where(article_id: article.id).each do |comment| %>
          <p>
            <%= "#{User.find(comment.author_id).email} #{t('answered')}" %>
            <% if current_user.admin? || comment.author_id == current_user.id %>
              <%= button_tag t('destroy'), onclick: "deleteComment(event, #{comment.id})", class: 'flat-button' %>
            <% end %>
            <br/>
            <%= comment.content %>
          </p>
        <% end %>
      </div>
      <div class='col-md-2 col-xs-0 col-lg-0'>
      </div>
    </div>
  <% end %>
</div>
