<!DOCTYPE html>
<html>
  <head>
    <title><%= t('ladder_work') %></title>
    <meta name='theme-color' content='#75f5f3'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='jumbotron'>
      <h1 class='headline'><%= "#{t('ladder_articles_base')} - #{@page_name}" %></h1>
      <% if current_user %>
        <%= link_to t('leave'), destroy_user_session_path, method: 'delete', class: 'pull-right button top-button' %>
        <%= link_to t('edit_info'), edit_user_registration_path, class: 'pull-right button top-button' %>
        <%= link_to t('home_page'), root_path, class: 'pull-right button top-button' %>
        <%= link_to t('all_users'), users_overview_path, class: 'pull-left button top-button' %>
        <%= link_to t('new_article'), articles_new_path, class: 'pull-left button top-button' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
